doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Projeto
    body 
        form
            label(for="Email")
            input#email(type="submit", value="email")
            label(for="Senha")   
            input#senha(type="submit", value="senha")
            button Entrar 